body {
  font-family: arial;
  margin: 1em;
}

h1{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#divError{
    display: none;
    background-color: red;
    color: white;
    font-size: 1.2em;
    padding: 1em;
    width: 80%;
    margin: auto;
}

p{
  margin: 0.5em;
  line-height: 1.5em;
}

label{
  font-weight: bold;
}
label:after{
  content: ": ";
}

input[type='number']{
  width: 4em;
}

#spanMedia{
  background-color: blue;
  color:white;
  padding: 0.3em;
}

button {
  border: none;
  color: white;
  margin: 1em;
  padding: 0.8em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
}

#btnCero{
  background-color: blue;
}
